* {
  font-size: 12pt;
  color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background: none;
  /* opacity: 0.85; */
}

#memory,
#disk,
#pulseaudio,
#battery,
#cpu {
  padding-left: 5px;
  padding-right:5px;
  margin:5px;
  background: #4b4b4b;
  border-radius: 1rem;
}

#window {
  padding-right:10px;
  margin:5px;
}

#pulseaudio {
  padding-left:10px;
  padding-right:10px;
}

#custom-weather {
  padding-right:15px;
}

#custom-separator {
  padding-left: 5px;
  padding-right: 15px;
}

#battery {
  font-family: 'Phosphor';
}

#workspaces {
  color: white;
  font-weight: bold;
}
#workspaces button {
  background: transparent;
  margin:5px;
}

#workspaces button.focused {
  background: #4b4b4b;
  border-radius: 1rem;
}

.modules-left, .modules-right {
  background:#211f29;
  border-radius: 1.5rem;
}

.modules-left {
  padding-right: 3px;
}

.modules-right {
  padding-right:5px;
}

#battery.warning:not(.charging) {
  background:rgb(97, 88, 49);
}

#battery.critical:not(.charging) {
  background:rgb(97, 49, 49);
}

#battery.charging {
  background:rgb(49, 97, 51);
}